* {
  box-sizing: border-box;
}

body {
  text-align: center;
  /* height: 20vh; */
  /* width: 90vw; */
  /* border: 5px solid black; */
  /* margin: 10px; */
  /* padding: 10px; */
}

/* FLEX */
.container {
    height: 100%;
    width: 600px;
    display: flex;
    border: solid black thin;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boxes {
    border: 0.1px solid;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

#box1 {
  background-color: green;
}
#box2 {
  background-color: yellow;
}
#box3 {
  background-color: pink;
}
#box4 {
  background-color: blue;
}
#box5 {
  background-color: red;
}
#box6 {
  background-color: orange;
}
#box7 {
  background-color: beige;
}
#box8 {
  background-color: lightgrey;
}

.wide {
  width: 100%;
}

.auto {
  width: auto;
}

.inline {
  display: inline;
}
